
body{
    background-color: black;
    color: #00ffff;
    text-align: center;
    font-family: cookie;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.m{
    text-align: center;
}

.card{
    width: 500px;
    height: 650px;
    background-color: rgb(53, 51, 51);
    text-align: center;
    border-radius: 10px;
    margin: 25px;
}

.card p {
    color: gold;
    font-size: 28px;
    padding: 10px;
}

.card img {
    border-radius: 10px;
    height: 250px;
    width: 400px;
    padding: 10px;
}

.class{
    background-color: rgb(53, 51, 51);
    width: 500px;
    height: 650px;
    text-align: center;border-radius: 10px;
    margin: 25px;
}

.class img{
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
}

.class p{
    color: gold;
    font-size: 28px;
}

.about{
    background-color: rgb(53, 51, 51);
    color: gold;
    border-radius: 10px;
    width: 500px;
    height: 650px;
    font-size: 22px;
}